{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}Max Garin{% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

</head>

<body>

  <nav class="navbar is-light level">
    <div class="container">
      <div class="navbar-brand">
        <a href="#" class="level-item navbar-item is-size-5 has-text-weight-medium">
          Max Garin
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="#" class="level-item navbar-item">Home</a>
          <a href="#" class="navbar-item">Blog</a>
          <a href="#" class="navbar-item">Projects</a>
          <a href="#" class="navbar-item">Contact Me</a>
        </div>

        <div class="navbar-end">
          <!-- navbar items -->
        </div>
      </div>


    </div>
  </nav>


  {% block content %}{% endblock %}

</body>

</html>

{% block page_content %}{% endblock %}